<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>Forms</AuthenticationType>
    <RequiresIntrinsicDataSource>true</RequiresIntrinsicDataSource>
    <DeployDatabase>False</DeployDatabase>
    <LightSwitchPublishVersion>v1.8</LightSwitchPublishVersion>
    <PackageLocation>Publish//HelpDeskVB.zip</PackageLocation>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <DisableAllVSGeneratedMSDeployParameter>True</DisableAllVSGeneratedMSDeployParameter>
    <AutoParameterizationWebConfigConnectionStrings>True</AutoParameterizationWebConfigConnectionStrings>
    <LightSwitchExcludeSetParameter>{Update web.config connection string}</LightSwitchExcludeSetParameter>
    <WPPAllFilesInSingleFolder>../bin/Release/app.publish/</WPPAllFilesInSingleFolder>
    <PackageSourceManifest>../bin/Release/HelpDeskVB.xml</PackageSourceManifest>
    <ProjectParametersXMLFile>..//Server/generated.parameters.xml</ProjectParametersXMLFile>
    <LightSwitchSqlScriptFile>../bin/Release/HelpDeskVB.sql</LightSwitchSqlScriptFile>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../HelpDeskVB.ls3proj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>